extends ./userlayout
  
block nav-tabs
  if (user.page_id == page._id)
    a.item(href=base.rooturl + '/user')= lang.user.profile
    a.active.item(href=base.rooturl + '/user/activity')= lang.user.activity
    a.item(href=base.rooturl + '/user/page')= lang.user.page
    if (page.flags == 0)
      a.item(href=base.rooturl + '/user/urp')= lang.user.grades_and_gpa
    a.item(href=base.rooturl + '/user/settings')= lang.user.settings
  else
    a.item(href=base.rooturl + '/user/#{page._id}')= lang.user.profile
    a.active.item(href=base.rooturl + '/user/activity/#{page._id}')= lang.user.activity

block user-form
  .ui.raised.segment
    ul.posts-list
      each po in activities
        li.posts-list-item.row(data-topic_id=po.topic_id)
          .post-body.col-post
            a.topic-title(href='/topic/' + po.topic_id + (po.is_reply ? ('#' + po.reply_id) : ''))= po.title
            .post-content
              != po.content
            if (po.board)
              small.topic-category
                = lang.topic.post_at
                | 
                a(href='/board/' + (po.board.shortcut ? po.board.shortcut : po.board._id))= po.board.name
            .post-info
              a(href='/user/' + po.author_id)
                .user-icon.user-img(title=page.name)
                  if (u.avatar_url)
                    img(src=u.avatar_url)
                  else
                    img(src=base.rooturl + '/static/img/user/def-avatar.png')
              .post-author
                a(href='/user/' + po.author_id)= page.name
                br
                if (po.update_at != po.create_at)
                  span.timeago(title=po.update_at.toISOString())= po.friendly_update_at
                else
                  span.timeago(title=po.create_at.toISOString())= po.friendly_create_at
