extends ./userlayout

block nav-tabs
  if (user.page_id == page._id)
    a.active.item(href=base.rooturl + '/user')= lang.user.profile
    a.item(href=base.rooturl + '/user/activity')= lang.user.activity
    a.item(href=base.rooturl + '/user/page')= lang.user.page
    if (page.flags == 0)
      a.item(href=base.rooturl + '/user/urp')= lang.user.grades_and_gpa
    a.item(href=base.rooturl + '/user/settings')= lang.user.settings
  else
    a.active.item(href=base.rooturl + '/user/#{page._id}')= lang.user.profile
    a.item(href=base.rooturl + '/user/activity/#{page._id}')= lang.user.activity

block user-form
  .ui.raised.segment
    .ui.ribbon.label Bio
    if (page.bio)
      .ui.info.message= page.bio
    else
      .ui.info.message
        .header= lang.info.oops
        = lang.info.user.no_bio
